<ion-view title="{{title}}">  

<!--   <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-upload"></button>
  </ion-nav-buttons> -->
<!--    <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button> -->

  <ion-content padding="true" class="has-header">
  		
      <button ng-click="register()" class="button button-balanced  button-block icon-left ion-edit">ลงทะเบียน</button>
      <button ng-click="studentList()" class="button button-positive  button-block icon-left ion-clipboard">รายชื่อนักศึกษา</button>
      <button ng-click="setting()" class="button button-royal  button-block icon-left ion-gear-a">ตั้งค่า</button>
      <button class="button button-dark button-block icon-left ion-android-share text-center">Export</button>


  </ion-content>
</ion-view>

