<ion-view title="{{title}}">

<!--   <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-upload"></button>
  </ion-nav-buttons> -->
<!--    <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button> -->

  <ion-content padding="true" class="has-header">
  		
      <button ng-click="register()">ลงทะเบียน</button>
      <button ng-click="studentList()">รายชื่อนักศึกษา</button>
      <button ng-click="setting()">ตั้งค่า</button>


  </ion-content>
</ion-view>

