<ion-view title="เปลี่ยนรหัส PIN" >
  <ion-content padding="true" class="has-header">
  	
  	<div class="list">
 		<label class="item item-input">
	    	<span class="input-label">Old PIN :</span>
	    	<input type="password" ng-model="m.oldPin">
  		</label>
		<label class="item item-input">
		    <span class="input-label">New PIN :</span>
		    <input type="password" ng-model="m.pin">
		</label>
		<label class="item item-input">
		    <span class="input-label">Repeat PIN :</span>
		    <input type="password" ng-model="m.pinConfirm">
		</label>
		<button class="button button-balanced button-block" ng-click="m.changePIN()">Confirm</button>
	</div>
	<!-- <b>old pin</b>
	<input type="password" ng-model="m.oldPin">

	<b>new pin</b>
	<input type="password" ng-model="m.pin">
	<input type="password" ng-model="m.pinConfirm">


	<button ng-click="m.changePIN()">change pin</button> -->
  </ion-content>
</ion-view>