<ion-view title="Report" cache-view="false">
	<ion-content padding="true" class="has-header">
	<ui-select theme="bootstrap" ng-model="r.activity" title="Report">
        <ui-select-match placeholder="Search...">{{r.activity.title}}</ui-select-match>
		    <ui-select-choices repeat="item in activitiesTitle | filter: $select.search">
	        <small ng-bind-html="item.title | highlight: $select.search"></small>
	    </ui-select-choices>
    </ui-select>
    <button ng-click="exportCSVbyTitle()">Download activity (title)</button>

    <input type="date" ng-model="date">
  	<button ng-click="exportCSVbyDate(date)">Download activity (date)</button>

  	<div style="margin-top: 20px;">
  	    <input type="text" ng-model="sendEmailTo">
	  	<button ng-click="sendEmail(sendEmailTo)">Send email</button>
	</div>
  	<div style="margin-top: 20px;">
  		<h1>Download all activity</h1>
	  	<button ng-click="convertToCSV()">ConvertToCSV</button>
  	</div>
  </ion-content>
</ion-view>