<ion-view title="ตั้งค่า" >
  <ion-content padding="true" class="has-header">
  	
	  <button ng-click="edit()" class="button button-balanced  button-block icon-left ion-edit">เปลี่ยนชื่อกิจกรรม</button>
	  <button ng-click="managePin()" class="button button-royal button-block icon-left ion-edit">เปลี่ยนรหัส PIN</button>
	  <button ng-click="candidateList()" class="button button-positive button-block icon-left ion-clipboard">รายชื่อสมาชิก</button>
	  <button ng-click="delete()" class="button button-assertive  button-block icon-left ion-close-round">ลบ</button>

  </ion-content>
</ion-view>